h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 260101061-03]
        p.mb-0 Seleccionar estrategias de mercadeo de acuerdo con políticas de la organización.
           




