.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Hoyos, R. (2013) Plan de Marketing
                    td Libro
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=3213503&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar            
                tr
                    td Kotler,2016, Dirección de marketing
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4273&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                        
                tr
                    td Kotler & Amstrong, 2017 Fundamentos de marketing
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4393&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td Prettel,2016, Marketing, una herramienta para el crecimiento
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5684&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Prieto, E. 2013, Investigación de mercados
                    td Libro
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=4870549&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
                tr
                    td Sainz, J.M. (2016) El plan de marketing en la práctica
                    td Libro
                    td 
                        a(href="https://www-alfaomegacloud-com.bdigital.sena.edu.co/auth/ip?intended_url=https://www-alfaomegacloud-com.bdigital.sena.edu.co/reader/el-plan-de-marketing-en-la-practica?location=1 ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     
                tr
                    td Soria, M. (2017) Plan de marketing empresarial
                    td Libro
                    td 
                        a(href="https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=5214046&ppg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar       
                           