.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.5 Planes de acción

      .row.justify-content-center.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/Pages/tema_1_5/img_1_5_01.svg", alt="").img-fluid                    
        .col-12
          p Cada táctica se convierte en un plan de acción o un programa que es un documento que detalla la táctica empleada en el plan de marketing. El estratega define las fechas de inicio y de terminación de la estrategia, y designa al responsable de la actividad y los controles que se van a realizar para asegurar el éxito de la táctica. En el programa también se define el presupuesto a invertir y el cronograma de la actividad. Vale la pena aclarar que el presupuesto de cada actividad o programa se incluirá en el presupuesto general, al igual que el cronograma de cada actividad o programa será incluido en el cronograma general de la empresa (Hoyos,2013).