.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.2 Objetivos 

      .row.justify-content-center.align-items-center.mb-5        
        .col.mb-5.mb-lg-0
          p Para Ricardo Hoyos (2013) los objetivos se pueden definir a corto y a largo plazo. Los objetivos a corto plazo pueden dividirse en dos: los básicos, es decir los que son comunes a todo tipo de negocio y los particulares, aquellos que se fijan dependiendo del tipo de negocio o empresa de la que se esté hablando. 
          p.mb-0  Los objetivos a largo plazo son los que le generan posibilidades a una compañía de mantenerse en el tiempo y ayudan a que los de corto plazo se alcancen de una manera relativamente más cómoda. El principal objetivo de marketing es construir una marca fuerte o poderosa, pues al fin y al cabo una marca es el principal activo de una compañía (Hoyos,2013).

        .col-12.col-lg-auto.d-flex.justify-content-center
          img(src="assets/images/Pages/tema_1_2/img_1_2_01.svg", alt="").img-fluid 

      .row.mb-5
        .col-12
          p A continuación, se describen los objetivos a largo plazo desde una perspectiva estratégica y los objetivos a corto plazo desde una perspectiva operativa.

      .row
        .col-6
          .custom-table__title
            p Estratégicos
        .col-6 
          .custom-table__title.ct-color
            p Operativos
      .row
        .col-6
          .custom-table__item
            p.text-center.mb-0 Share of mind (Recordación de marca)
        .col-6
          .custom-table__item
            p.text-center.mb-0 Ventas, cartera, rentabilidad.
      .row
        .col-6
          .custom-table__item.oddColor
            p.text-center.mb-0 Top of mind (Posicionamiento).

        .col-6
          .custom-table__item.oddColor
            p.text-center.mb-0 Lanzamiento de nuevos productos.
      .row
        .col-6
          .custom-table__item
            p.text-center.mb-0 Top of heart (Preferencia de marca).
        .col-6
          .custom-table__item
            p.text-center.mb-0 Vinculación de nuevos clientes.
      .row
        .col-6
          .custom-table__item.oddColor
            p.text-center.mb-0 Participación y cobertura de mercado.
        .col-6
          .custom-table__item.oddColor
            p.text-center.mb-0 Deserción, retención, recuperación y satisfacción de clientes.
      .row.mb-5
        .col-6
          .custom-table__item
            p.text-center.mb-0 Calidad de clientes (A, B, C).
        .col-6
          .custom-table__item
            p.text-center.mb-0 Deserción de vendedores.
        .col-12.mt-5    
          p.text-center #[i Fuente: (Hoyos,2013)]

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Formulación de objetivos    
        .col-12
          p Sainz (2016) señala algunos principios básicos en la formulación de los objetivos de marketing. 

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_01.svg", alt="")
              .card__body 
                p Los objetivos de marketing se supeditarán siempre a los objetivos y estrategias corporativas.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_02.svg", alt="")
              .card__body 
                p Deben ser concretos por tanto cuantitativos, realistas, alcanzables, motor de la actividad comercial y coherentes entre sí y con los recursos con que cuenta la organización. La esencia de todo objetivo es solucionar un problema de la organización o sacar rendimiento de una oportunidad de mercado.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_03.svg", alt="")
              .card__body 
                p Cuantificar definiendo con precisión las fechas en las que los queremos alcanzar, en qué áreas geográficas, para qué tipo de productos o servicios.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_04.svg", alt="")
              .card__body 
                p Están sustentados sobre supuestos o hipótesis de partida o escenarios que se habrán contemplado en el análisis de la situación.

      .row.mb-5
        .col-12
          p Un objetivo comienza con un verbo de acción o consecución (aumentar, explotar, consolidar, penetrar...), propone un resultado clave a lograr y un plazo de ejecución. El objetivo establece el «qué» y el «cuándo» más que el «cómo» y el «por qué».        

      .row.mb-5   
        .col-12
          h3 Ejemplos   
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Lograr una distribución de las ventas, por zonas geográficas acordes con el mercado potencial.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Mantener la rentabilidad sobre las ventas en un rango del 15% al 20%.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Fidelizar clientes y consumidores durante el año 2022. 

      