.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.1 Mercadeo 

      .row.justify-content-center.align-items-center.mb-5        
        .col.mb-5.mb-lg-0
          p.mb-0 El marketing es la ciencia que después de estudiar el comportamiento de los mercados (personas naturales, empresas y sociedad) e identificado el nivel de competencia, permite diseñar productos, capaces de satisfacer necesidades, generar mayor valor, lograr relaciones perdurables, así como la implementación de estrategias idóneas de (producto, precio, comunicación y distribución) para el estímulo, respuesta y el posicionamiento de la marca y por lógica derivación el crecimiento de la compañía (Prettel,2016).
        .col-12.col-lg-auto.d-flex.justify-content-center
          img(src="assets/images/Pages/tema_1_1/img_1_1_01.svg", alt="").img-fluid 

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Evolución del marketing      
        .col-12
          p.mb-0 José María Sainz (2016) explica la evolución del marketing en el siguiente gráfico en donde inicia con un marketing indiscriminado o de masas que pretende abarcar la totalidad del mercado con las mismas estrategias, pasa a un marketing segmentado dirigido a segmentos estratégicos específicos como el público objetivo o target y finalmente al marketing digital (B2B o B2C), en donde se crea una relación continua con el cliente y la comunicación fluye en ambos sentidos. Teniendo esta evolución una repercusión importante en el alcance y contenido del plan de marketing.

      .row.justify-content-center.align-items-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_1/info_1_1_01.svg", alt="").img-fluid

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Marketing estratégico y marketing táctico

        .col-12
          p Para Ricardo Hoyos (2013), el marketing, involucra un componente táctico y un componente estratégico. El componente o plano táctico debe definir lo que se conoce como la mezcla de marketing para cada producto, es decir las políticas de producto, de distribución, de precio y de comunicación con sus mercados meta; adicionalmente debe generar procesos de consecución o captura de clientes nuevos, fidelización de estos y recuperación de los clientes perdidos.
          p.mb-0 El componente o plano estratégico del marketing está relacionado especialmente con la construcción de marcas poderosas, entendida una marca poderosa como aquella que es conocida por un número grande de consumidores, es deseada, es comprada y por supuesto es asociada a elementos positivos. En esta perspectiva estratégica el papel del marketing es colocar la marca en la mente y en el corazón de los consumidores (Hoyos,2013).

      .row.justify-content-center.align-items-start.mb-6
        .col-9.col-lg-4.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1_1/info_1_1_02.svg", alt="").img-fluid
        .col-9.col-lg-4.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1_1/info_1_1_03.svg", alt="").img-fluid

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Análisis de la situación

        .col-12
          p El primer paso para realizar un plan de marketing es realizar un análisis de la situación. El éxito de todas las empresas depende de su capacidad de adaptarse al entorno que las rodea (Soria,2017). Es por esto que se analiza el microentorno y el macroentorno como lo vimos anteriormente. 
          p El microentorno está compuesto, por la misma empresa (ambiente interno), la cual presenta retos y limitaciones a todo proceso de marketing como por ejemplo problemas de presupuesto, problemas de capacidad de producción y tecnología, problemas de recurso humano, problemas de información y especialmente problemas de cultura, es decir organizaciones con poca orientación al mercado y una cultura poco dada a la innovación y a los cambios en general. El análisis de la organización se realizará mediante el análisis de la cadena de valor, entendida esta como la suma armónica de funciones que se llevan a cabo para diseñar, fabricar, entregar y servir productos y servicios. Se encuentran otros elementos relevantes como los proveedores, los canales y los públicos. (Hoyos,2013) 
          p.mb-5 El macroentorno está compuesto por seis variables: las fuerzas político-legales, las fuerzas socioeconómicas, las fuerzas demográficas, las fuerzas tecnológicas, las fuerzas económicas y las fuerzas ambientales o ecológicas. (Hoyos,2013)

      .row.justify-content-center.align-items-start.mb-5
        .col-12.col-lg-9.d-flex.justify-content-center.mb-6
          img(src="assets/images/pages/tema_1_1/info_1_1_04.svg", alt="").img-fluid
        .col-12.col-lg-11.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1_1/info_1_1_05.svg", alt="").img-fluid


