.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.8 Control

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/Pages/tema_1_8/img_1_8_01.svg", alt="").img-fluid                    
        .col-12
          p El marketing considera cuatro grandes elementos del proceso administrativo: la planeación, la organización, la dirección y el control. La planeación incluye la recolección de información de los hechos que se producen en el mercado y en la empresa misma, y su correspondiente análisis para encontrar las oportunidades de mejoramiento lo que debe conducir a la fijación de objetivos, diseño de estrategias y asignación de recursos. Luego se avanza al proceso de organización, en donde se revisan la estructura del área, los procedimientos, los manuales y demás elementos que permitirán abordar la siguiente etapa que es la dirección o puesta en marcha de la estrategia; finalmente se encuentra el proceso de control, en donde se verifica que lo que se planeó se esté ejecutando de manera adecuada y que se estén obteniendo los resultados buscados (Hoyos,2013).
          p.mb-3 La auditoría de marketing se comprende como un proceso de revisión sistemático, crítico e imparcial de la operación de marketing; de los objetivos básicos y las políticas que orientan los procesos de marketing, así como de los métodos procedimientos y personas, y la organización o estructura empleada para alcanzar los objetivos (Hoyos,2013).

      .row.justify-content-center.align-items-center.mb-5               
        .col-12
          h3 Técnica del cliente oculto
          p En los controles de marketing se puede utilizar la técnica de cliente oculto o comprador misterioso, consiste en que una persona de la misma empresa o contratada externamente para ello, se hace pasar por cliente para conocer de primera mano y de manera totalmente real el nivel de servicio que presta una persona, una oficina o punto de venta. Para tal efecto, el comprador incógnito puede realizar una evaluación parcial simplemente solicitando información (cotizaciones, condiciones, características de los productos, etc.) sin llegar a realizar la compra; para esto puede valerse de diversos medios como solicitudes por Internet, llamadas telefónicas o —lo que más se recomienda— de manera personal; incluso se pueden llegar a utilizar cámaras para registrar hechos, algunas situaciones que se comunicarían mejor con imágenes como filas desmedidas, locaciones en mal estado, la agresividad de un vendedor o la desidia de una persona en la superficie de venta, etc. La técnica también se conoce como la seudocompra. La función del comprador incógnito también puede y debe llegar al punto de realizar la compra, con el fin de conocer de manera integral el nivel de atención en todo el ciclo del proceso (Hoyos,2013).
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/Pages/tema_1_8/img_1_8_02.svg", alt="").img-fluid  

      .row.justify-content-center.align-items-center 
        .col-12.mb-5
          h3 Indicadores de gestión
          p Para lograr una detallada evaluación y control de los resultados del plan de marketing Hoyos (2013) nos ilustra ejemplos de indicadores:
        .col-12.col-lg-8.col-xl-7.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_8/info_1_8_01.svg", alt="").img-fluid  
        .col-12.col-lg-8.col-xl-7.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_8/info_1_8_02.svg", alt="").img-fluid  
        .col-12.col-lg-8.col-xl-7.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_8/info_1_8_03.svg", alt="").img-fluid  
        .col-12.col-lg-8.col-xl-7.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_8/info_1_8_04.svg", alt="").img-fluid  
