.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.4 Tácticas 

      .row.justify-content-center.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/Pages/tema_1_4/img_1_4_01.svg", alt="").img-fluid                    
        .col-12
          p Las tácticas determinan el modo particular con que se concreta la estrategia, abarcan todas las actividades que se llevan a cabo, es descriptiva y debe explicar el detalle para su realización.
          p Ocampo (2011), define la táctica como “la acción sistematizada que se aplica en un momento preestablecido. Implica la planeación detallada de tiempos, movimientos y recursos. La sumatoria de las tácticas expresan las estrategias en la práctica. Esta segmentación de las acciones permite el seguimiento y la medición de cada una de las tareas que se realizan en el marco de una estrategia”.


        