.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.6 Cronograma

      .row.justify-content-center.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_6/img_1_6_01.svg", alt="").img-fluid                    
        .col-12
          p Cada táctica, plan de acción o programa incluye las fechas específicas para su realización. Estas fechas se llevan al cronograma general para tener un documento consolidado de todas las actividades que incluye el plan de marketing. El cronograma es una herramienta que permite ejecutar cada una de las acciones en los momentos oportunos de tal manera que se garantice la consecución de los objetivos. Además de ser una herramienta de planeación ayuda a controlar que las acciones de marketing se realicen tal como se ha previsto (Hoyos,2013).