.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.7 Presupuesto

      .row.justify-content-center.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_7/img_1_7_01.svg", alt="").img-fluid                    
        .col-12
          p Es un documento que recoge de manera consolidada los presupuestos de cada una de los planes o programas diseñados dentro del plan de marketing. En el presupuesto se presentan los ingresos y la inversión total que se va a realizar para cumplir con los objetivos planteados. Se incluyen los gastos discriminados por cada una de las actividades de marketing, se deben relacionar el egreso relacionado con la nómina, la administrativa del departamento de marketing y la de la fuerza de ventas. Se deben incluir los gastos relacionados con las comunicaciones de marketing (publicidad, relaciones públicas y promoción de ventas entre otros. Adicionalmente se pueden incluir gastos relacionados con el desarrollo de nuevos productos y con todos los procesos de investigación asociados a esta actividad y otras que se vayan a realizar dentro del plan. #[strong El presupuesto es una herramienta gerencial que debe ser monitoreada de manera regular para hacer el control del gasto, para no excederse en el mismo o para no dejar rubros sin ejecutar (Hoyos,2013).]
          p La inversión destinada al plan de marketing estará determinada por los objetivos de la campaña y el público al que la marca se dirige. A mayor volumen de fines propuestos y de consumidores, más presupuesto se requerirá (Soria,2017).
